<div class="sidebar">
    <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">

            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Auto Flow
            </a>
        </div>
        <ul class="nav">
            <li class="{% if 'index' in segment %} active {% endif %}">
                <a href="/index.html">
                    <i class="tim-icons icon-pin"></i>
                    <p>Mapa</p>
                </a>
            </li>
            <li class="{% if 'user' in segment %} active {% endif %}">
                <a href="/user.html">
                    <i class="tim-icons icon-single-02"></i>
                    <p>Perfil Usuário</p>
                </a>
            </li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="tim-icons icon-button-power"></i>
                    <p>Deslogar</p>
                </a>
            </li>
        </ul>
    </div>
</div>