{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ block.super }}  <!-- isso faz com que herde do elemento pai e deixe de sobre escrever-->
<style>select{scrollbar-color: #FFF transparent;}</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div style="text-align: center;">
    <h2>Rua com maior movimento no dia: Av. Rio Branco</h2>
  </div>
  <div class="col-sm-12">
    <div class="chart" id="chart"></div>
    
    <div class="cent" style="display:flex;flex-direction: column ;align-items: flex-end;margin-right: 18px;">
      <div class="centr" style="display:flex;align-items: center;flex-direction: column ;position: absolute;">
        <label for="ruas" style="color: #FFF;font-weight: bold;">Rua:</label>
        <select name="ruas" id="ruas" style="background-color: #1E1E29;border: 0;color: white;font-weight:bold;" size="8" onchange="gerarGraficoEmcima(),gerarGraficoEmbaixo()">
          <option value="">Av Aldaberto Cunha</option>
          <option value="">Av Italiano</option>
          <option value="" selected>Av Rio Branco</option>
          <option value="">Av São Paulo</option>
          <option value="">Avenida Presidente Juscelino Kubitschek de Oliveira</option>
          <option value="">Rua teste1</option>
          <option value="">Rua teste2</option>
          <option value="">só exibe 5</option>
          <option value="">teste scroll sem scrollbar</option>
        </select>
      </div>
    </div>
  
  </div>
  <script>

  function gerarAleatorios(numerosElementosAleatorios) {
      let arrayInteiros = [];
      for (let i = 0; i < numerosElementosAleatorios; i++) {
          arrayInteiros.push(Math.floor(Math.random() * 36) + 5);
      }
      return arrayInteiros;
  }


  function gerarGraficoEmcima(){
    options = null;
    options = {
      series: [
        {
          name: "Motos",
          data: gerarAleatorios(12)
        },
        {
          name: "Carros",
          data: gerarAleatorios(12)
        },
        {
          name: "Caminhão",
          data: gerarAleatorios(12)
        }
      ],
      chart: {
        height: 350,
        type: 'line',
        dropShadow: {
          enabled: true,
          color: '#000',
          top: 18,
          left: 7,
          blur: 10,
          opacity: 0.5
        },
        zoom: {
          enabled: false
        },
        toolbar: {
          show: false
        }
      },
      colors: ['#AA0000', '#0000AA', '#00AA00'],
      dataLabels: {
        enabled: true,
      },
      stroke: {
        curve: 'smooth'
      },
      title: {
        text: 'Quantidade de veículos',
        align: 'left',
        style: {
          color: '#fff'
        }
      },
      grid: {
        borderColor: '#000',
        row: {
          colors: ['#DA4FD2'], // takes an array which will be repeated on columns
          opacity: 1
        },
      },
      markers: {
        size: 1
      },
      xaxis: {
        categories: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00'],
        title: {
          text: 'Horas'
        }
      },
      yaxis: {
        title: {
          text: 'Quantidade'
        },
        min: 5,
        max: 40
      },
      legend: {
        position: 'top',
        horizontalAlign: 'right',
        floating: true,
        offsetY: -25,
        offsetX: -5
      }
    };

  
      chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();

      chart.updateSeries(options.series);
            
  }
  gerarGraficoEmcima();
        
  </script>













  <div class="col-sm-6" id="chart1"></div>
  <script>

    function gerarGraficoEmbaixo()
    {

    var colors = ['#AA0000', '#0000AA', '#00AA00'];
    var options1 = null;
    options1 = {
      series: [{
        data: gerarAleatorios(3)
      }],
      chart: {
        height: 350,
        type: 'bar',
        events: {
          click: function (chart, w, e) {
            // console.log(chart, w, e)
          }
        }
      },
      colors: colors,
      plotOptions: {
        bar: {
          columnWidth: '45%',
          distributed: true,
        }
      },
      fill: {
        opacity: 1
      },
      title: {
        text: 'Quantidade total de veículos',
        align: 'left',
        style: {
          color: '#fff'
        }
      },
      dataLabels: {
        enabled: false
      },
      legend: {
        show: true
      },
      xaxis: {
        categories: [
          "Motos",
          "Carros",
          "Caminhões"
        ],
        labels: {
          style: {
            colors: colors,
            fontSize: '12px'
          }
        }
      }
    };

   
      chart1 = new ApexCharts(document.querySelector("#chart1"), options1);
      chart1.render();
  
      chart1.updateSeries(options1.series);
            
  }
  gerarGraficoEmbaixo();
  </script>





</div>






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>

{% endblock javascripts %}