{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            Gráfico de densidade
          </div>
          <div class="card-body">
            <!-- <div id="map" class="map"></div> -->
             {% load static %}
             <img src="{% static 'assets/img/showMaps.jpg' %}" alt="">
          </div>
          <label for="a">Rua:</label>
          <select name="a" id="a" style="width: 200px;">
            <option value="">Av Rio Branco</option>
          </select>
          <div>
          <label for="b">Tipo Veículos</label>
          <input type="checkbox" name="b" id="m">Motos
          <input type="checkbox" name="b" id="car">Carros
          <input type="checkbox" name="b" id="cam">Caminhões
          <input type="checkbox" name="b" id="on">Onibus
          <input type="checkbox" name="b" id="v">Vans
        </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initGoogleMaps();
    });
  </script>

{% endblock javascripts %}
